.main__registration {
	width: 100%;
}

.main__form-item .main__form-submit-registration {
	width: 150px;
}

.required {
	position: relative;
}

.required::after {
	content: "*";
	margin-left: 5px;
	color: red;
}

.authorized-log-in {
	font-weight: 700;
	font-size: 16px;
	text-decoration: underline;
}

.authorized-log-in:hover {
	color: red;
}